<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Users</h4>
              <p class="card-text"><b>Total users:</b> 200K</p>
              <a (click)="navigateTo('/users')" class="card-link">View users</a>
              <a (click)="navigateTo('/users/create')" class="card-link">Create user</a>
            </div>
          </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Products</h4>
              <p class="card-text"><b>Total products:</b> 500k</p>
              <a (click)="navigateTo('/products')" class="card-link">View products</a>
              <a (click)="navigateTo('/products/create')" class="card-link">Create product</a>
            </div>
          </div>
    </div>
</div>